{{ define "main" }}

<main aria-role="main">

  <div class="content">
    <div class="index-content framed">
      <h1 id="hello-there">Welcome to the story of my professional and academic life!</h1>
      <p>I'm very excited to have you here! </p>
      <p style="padding: 0 10%;">Learn more about what has driven me so far and the motivations and challenges throughout my career that began in 2006. </p>
      <div align="center">
        <a class="read-more button" href="/timeline">View → </a>
      </div>
    </div>
  </div>

</main>

{{ end }}
